.progressControlContainer {
  border-top: 1px solid #e6e6eb;
  width: 540px ;
}

.buttonGroupOne{
  display: flex;
  justify-content: flex-end;
  
}

.buttonGroupTwo {
  display: flex;
  justify-content: space-between;

}

.nextBtn {
  width: 174px;
  height: 46px;
  border-radius: 8px;
  background-color: #f67599;
  border: none;
  color: #fff;
  margin-top: 20px;
  font-size: 14px;  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextBtn img {
  margin-left: 12px;
}

.previousBtn {
  width: 174px;
  height: 46px;
  background-color: #fff;
  margin-top: 20px;
  font-size: 14px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.previousBtn img {
  margin-right: 12px;
}
 
