.registerTitle {
  font-size: 32px;
  font-weight: 700;
}

.progressContainer {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  display: flex;
  flex-grow: 1;
  max-width: 60px;
  height: 1px;
  margin: 0px 8px;
  border-width: 2px;
  border-style: solid;
}


.progressGroup {
  display: flex;
}

.progressIcon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}

.progressNum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
}
