.registerTitle {
  font-size: 32px;
  font-weight: 700;
}

.progressContainer {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  display: flex;
  flex-grow: 1;
  max-width: 60px;
  height: 1px;
  margin: 0px 8px;
  border-width: 1px;
  border-style: solid;
}


.progressGroup {
  display: flex;
  align-items: center;
}

.progressIcon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}

.progressOne,
.completeNum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
}
.progressNum{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: #2A2A2A;
}

.pgUndone {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #AFB1BD;
}

.pgInProgress {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #2A2A2A;
}

.UndoneNum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color:#AFB1BD
}
