/* font style */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Nunito+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.siteMain {
  margin-top: 80px;
  padding-left:  15px;
  padding-right: 15px;
}

.mainContainer {
  display: flex;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.registerContainer {
  width:50%
}